<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ClientWebService.Properties.Settings>
            <setting name="ClientWebService_ConvertTemperatureService_ConvertTemperature"
                serializeAs="String">
                <value>http://www.webservicex.net/ConvertTemperature.asmx</value>
            </setting>
            <setting name="ClientWebService_PeriodicTableService_periodictable"
                serializeAs="String">
                <value>http://www.webservicex.net/periodicTable.asmx</value>
            </setting>
        </ClientWebService.Properties.Settings>
    </applicationSettings>
</configuration>